
  ::-webkit-scrollbar{
     display: none;
  }

.notificationHeader{
       display: flex;
        width: 400px;
        height: 30px;
        background-color: white;
        z-index: 1;
        position: fixed;
        justify-content: space-between;
        max-width: 400px;
        padding: 10px 0px;
        border-radius: 20px;
}

.notificationHeading{
    display: flex;
    margin-left: 20px; 
}

.notificationClose{
    cursor: pointer;
    margin-right: 20px;
}

.cards{
    margin-top: 80px;
    z-index: 0;   
}

.detailsHeader{
    width: 150px;
    display: flex;   
}

.detailsLicenseCard {
    margin: 30px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.6);
    border-radius: 10px; 
  }

  .detailsInfo{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
   
  }

 .inputTag{ 
  
    border: none;
    width: 50%;
    font-size: 15px;
    margin-left: 10px;
    padding: 10px;
    border-bottom: 1px solid #cccc;
  }

.mobile{
    display: flex;
    align-items: center;
    gap: 10px;
}


// @media only screen and (max-width: 468px) {

//   .drawer{
//     width: auto;
//     margin: 0px !important;
//   }
 
//   .detailsLicenseCard{
//     margin: 0px !important;
//   }
//   .notificationHeader{
//     width: 100%;
//   }
//   .card{ 
//     margin: 10px !important;
//     width: auto !important; 
//   }

 
// }




@media screen and (max-width: 600px){
  .notificationHeader{
    width: 320px;
  }
  .detailsInfo{
    margin-bottom: 10px;
  }
  .inputTag{
    width: 70%;
  }
  .detailsLicenseCard{
    margin: 10px !important;
  }
}

