
  ::-webkit-scrollbar{
     display: none;
  }

//     .notifications{ 
       
//     padding: 15px;
//     font-family: 'apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
//     &Element{
//         background-color: white;
//         border: 1px solid rgb(197, 193, 193);
//         border-radius: 6px;
//         padding: 10px;
//         margin: 10px 0px;
      
//     }

//     &Heading{
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: 20px;
//         position: fixed;
//         top: 20px;
//         background-color: red;
      
    
//         &Close{
//             border-radius: 2px;
//             border: none;
//             background-color: transparent;
//             cursor: pointer;
//             position: fixed;
//             right: 20px; 
//             top: 20px;
           
//         }
//     }

// }

.notificationHeader{
       display: flex;
        width: 100%;
        height: 30px;
        background-color: white;
        z-index: 1;
        position: fixed;
        justify-content: space-between;
        max-width: 400px;
        padding: 10px 0px;
        border-radius: 20px;
  
}

.notificationHeading{
    display: flex;
    margin-left: 20px; 

}

.notificationClose{
    cursor: pointer;
    margin-right: 20px;
}

.cards{
    margin-top: 80px;
    z-index: 0;
    
}


.detailsHeader{
    width: 150px;
    display: flex;   
}


.detailsLicenseCard {
    margin: 30px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.6);
    border-radius: 10px; 
  }

  .detailsInfo{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
   
  }

 .inputTag{ 
  
    border: none;
    width: 250px;
    font-size: 15px;
    margin-left: 20px;
    padding: 10px;
    border-bottom: 1px solid #cccc;
  }

.mobile{
    display: flex;
    align-items: center;
    gap: 10px;
}


@media only screen and (max-width: 468px) {

  .drawer{
    width: auto;
    margin: 0px !important;
  }
 
  .detailsLicenseCard{
    margin: 0px !important;
  }
  .notificationHeader{
    width: 100%;
  }
  .card{ 
    margin: 10px !important;
    width: auto !important;
  
  }


 
}





// width: 600px;
//     margin: 10px;
//     box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
//     border-radius: 10px;
//     background: white;
//     /* height: calc(100vh - 40px); */
//     overflow: scroll;
//     height: 100%;