.header{
    background-color: #27548A;
    width: 100vw;
    overflow: hidden;
}
.create{
    margin: auto;
}

.logo{
    width: 26px;
    height: 30px;
    margin-right: 15px;
    margin-left: 0px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .logo{
        display: none;
    }
}

