/* Analytics Styles */
.analyticsBody {
    color: var(--color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 30px;
    width: 100%;
    background-color: #f4f7fa;
    // height: 100%;
}

.analyticsBodyTopContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}

.analyticsCard {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #ddd;
}

.analyticsCard:hover {
    transform: translateY(-5px); /* Slightly lift on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Add a deeper shadow */
}

.analyticsCard .title {
    font-weight: bold;
    font-size: 1.1rem;
    color: #444;
}

.analyticsCard .value {
    font-size: 1.4rem;
    margin: 10px 0;
    font-weight: 600;
    color: var(--primary-color); /* Color for emphasis */
}

.analyticsCard .progress-bar {
    width: 100%;
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-top: 10px;
}

.analyticsCard .progress-bar-inner {
    height: 100%;
    border-radius: 4px;
    background-color: var(--primary-color); /* Dynamic progress color */
}

.analyticsChart {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    gap: 40px;
}

.analyticsGraph {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 25px;
    margin-top:20px;
    background-color: #ffffff;
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.analyticsBody {
    animation: fadeIn 1s ease-out;
}

@media (max-width: 768px) {
    .analyticsCard {
        width: 100%;
        margin-bottom: 20px;
    }

    .analyticsChart {
        flex-direction: column;
        gap: 20px;
    }
}
