// styling for button components
.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
    padding:5px;
    
}
// styling for view details icon
.vwbtn{
    // padding: 3px 0px;
    border-radius: 6px;
    width: auto;
    border:none;
    background-color: transparent;

&:hover{
    cursor: pointer;
    // background-color:transparent;
    color: blue;
    border: none;


}}
// Styling for delete icon
.delbtn{
    border:none;
    background-color: transparent;
    border-radius: 6px;
    margin-left: 12px;
    width: auto;
    
&:hover{
    cursor: pointer;
    color: red;
}
}
// styling for the renew button
.renew{
    background-color: rgb(217, 50, 50);
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
// styling for dilte rdata
.filterContainer {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  
    label {
      font-weight: 500;
    }

    .filterSelect {
      padding: 8px 12px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background-color: white;
    }
  }
// filters for cards in analytics page
  .cardContainer{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    align-items:center;
    justify-content: space-evenly;
    padding:5px;
    margin:10px;
    animation: fadeIn 1s ease-out;
  }

  .ag-paging-panel {
    overflow:scroll;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.ag-theme-quartz{
    overflow-y:scroll
}
.ag-paging-panel ag-unselectable ag-focus-managed{
    background-color: red !important;
}

.ag-paging-panel {
    align-items: center !important;
    border-top: var(--ag-footer-row-border);
    display: flex !important;
    justify-content: flex-end !important;
    height: 70px !important;
    overflow-y: scroll !important;
    padding: 2px !important;
    font-size: small !important;
    justify-content: normal !important;
    gap: 13px !important;
}
// media queries
@media screen and (max-width:520px){
}
.ag-theme-quartz{
    .ag-root-wrapper {

    .ag-paging-panel {
        background-color: rgb(0, 0, 0) !important;
        align-items: center !important;
        border-top: var(--ag-footer-row-border);
        display: flex !important;
        justify-content: flex-end !important;
        height: 70px !important;
        overflow-y: scroll !important;
        padding: 2px !important;
        font-size: small !important;
        justify-content: normal !important;
        gap: 13px !important;
    }
}
}



