.department{
    width: 550px;
    // height: 400px;

    &Creation{
        background-color: #16225c;
        color: white;
        padding: 20px;
    }

    &Form{
        padding: 20px;

        &Button{
            display: flex;
            justify-content: flex-end;
        }

        &Error{
            font-size: 12px;
            margin: 0px;
            color: red;
            margin-bottom: 15px;
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 670px){
    .department{
        width: 80vw;

        &Creation{
            font-size: 25px;
        }
    }
}