.-JoyCard-root :hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.JoyCard-root{
    cursor:pointer !important;
}
.css-10zyzgo-JoyCard-root :hover{
    transform: scale(1.05) !important;
    transition: transform 0.3s ease-in-out !important;
}